@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.macondo-heading{
 font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.HerobackgroundImage{
  background-image: url('https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif');
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.signUpBackrground{
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/097/706/non_2x/3d-realistic-nebula-space-background-free-photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

}

.edu-nsw-act-cursive-font {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}